### macOS ###

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Xcode ###

## User settings
xcuserdata/

# Swift Package Manager
Packages/
Package.pins
.build/

### Fastlane ###

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Preview.html
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

.gradle

.idea/
build
output
local.properties
gradle
.swiftpm
